<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- partial('_partial/head') %>
  <!-- Body -->
  <body>
    <div id="app" class="section">
    <div class="columns is-vcentered">
      <div class="column is-full-mobile is-8-desktop is-offset-2-desktop">
        <!-- Navbar -->
        <%- partial('_partial/nav') %>
        <div class="columns">
          <!-- Sidebar -->
          <div class="column is-one-quarter is-hidden-touch">
            <%- partial('_partial/sidebar.ejs') %>
          </div>
          <!-- Main Content -->
          <div class="column auto">
            <div class="container"><%- body %></div>
          </div>
        </div>
        <!-- Footer -->
        <%- partial('_partial/footer') %>
      </div>
    </div>
    </div>
  </body>
</html>
